<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <p>OPPS! This page in not found ):</p>
    <%- include('./partials/footer.ejs') %>
</body>
</html>